@use "../../../../../assets/styles/index" as *;
.pd_domain_details {
  @include auto-layout;
  padding-top: 18px;

  height: unset;
  .warning{
    display: flex;
    padding: 14px 16px;
    gap: 10px;
    background-color: var(--pastelYellow);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--black02);
    align-items: center;
    margin-bottom: 36px;
  }
}
.domain_detail_cover_section {
  width: 100%;
  .section {
    border-radius: 8px;
    border: 1px solid var(--grey05);
    background: var(--white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05),
      0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .domain_summary {
    width: 100%;
    padding: 16px;
    padding-bottom: 24px;
    .display_selected_domain {
      border-radius: 8px;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: var(--pastelGreen);
      .left_text {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          color: var(--primary);
          word-wrap: break-word;
          width: calc(100% - 24px);
        }
      }
      button {
        background-color: var(--white);
        color: var(--primary);
        border: 1.5px solid var(--primary);
        width: 152px;
        height: 40px;
      }
    }
    .amount_breakdown {
      border-top: 1px solid var(--grey05);
      margin-top: 16px;
      padding-top: 16px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 14px;
      .single_breakdown {
        p {
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: var(--grey03);
        }
        h3 {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: var(--black02);
          margin-top: 8px;
        }
      }
    }
  }
  .dns_record_section {
    margin: 32px 0;
    .my-table {
      .MuiTableRow-head th {
        padding: 8px 24px;
      }
      tbody {
        td {
          padding: 8px 24px;
        }
      }
    }
    .section_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
      border-bottom: 1px solid var(--grey05);
      background-color: #f9fafb;
      padding: 16px 24px;
      @include mq(600px) {
        padding: 16px;
      }
      p {
        color: var(--grey01);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      button {
        height: 36px;
        width: 174px;
      }
    }
  }
  .history_section {
    .form_section_header {
      padding: 16px 24px;
      margin-bottom: 0;
      @include mq(600px) {
        padding: 16px;
      }
    }
    .history_table {
      .my-table {
        .MuiTableRow-head th {
          padding: 8px 24px;
        }
        tbody {
          td {
            padding: 12px 24px;
          }
        }
      }
      .purchase_history {
        display: flex;
        align-items: center;
        gap: 16px;
        .check {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include mq(600px) {
            width: 28px;
            height: 28px;
          }
          &.success {
            background-color: var(--pastelGreen);
          }
          &.failed {
            background-color: var(--pastelRed);
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
        p.payment_status {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
        .retry {
          display: flex;
          align-items: center;
          border-radius: 8px;
          gap: 8px;
          padding: 4px 12px;
          cursor: pointer;
          background-color: var(--pastelGreen);
          svg {
            width: 16px;
            height: 16px;
          }
          p {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: var(--primary);
          }
        }
      }
    }
  }
  .pagination_flex_container {
    padding: 0 20px;
  }
}
