@use "../../../../../assets/styles/index" as *;
.pd_record_payment {
  .cover_customer_select {
    width: 100%;
    margin-bottom: 16px;
    p {
      word-wrap: break-word;
    }
    @include mq(768px) {
      width: 100%;
    }

    .pick_cutomer {
      @include pick_input_type;
      margin-bottom: 10px;
    }
    .extra_message {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        width: calc(100% - 15px);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--primary);
      }
    }
  }
}
