@use "../../../../../assets/styles/index" as *;

.freetrial_expiry_modal {
  max-width: 514px;
  width: 90%;
  max-height: 90vh;
  padding: 32px;
  overflow-y: auto;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #0000000d;
  box-shadow: 0px 0px 2px 0px #00000040;
  @include webkit;
  .title_section {
    margin-bottom: 32px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .icon_button_container {
      background: var(--grey00) !important;
    }
  }
  .image_section {
    display: flex;
    justify-content: center;
  }
  .text_section {
    text-align: center;
    h2 {
      font-weight: 600;
      font-size: 27px;
      line-height: 36px;
      color: var(--black01);
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--grey01);
      margin: 10px 0;
    }
  }
  .discount_section {
    background: #f8f8f8f8;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    text-align: center;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--black02);
      span {
        font-weight: 500;
        &.welcome {
          color: var(--primary);
        }
      }
    }
  }
  .button_container {
    width: 100%;
    margin-top: 32px;
    button {
      width: 100%;
      margin: 5px 0;
    }
  }
}
