@use "../../../../../../assets/styles/index" as *;

.add-modal {
  &__right-title {
    .text_box {
      p {
        font-size: 1.7rem !important;
      }
    }
  }

  &__container {
    padding: 0rem 2rem 1rem 2rem;
  }

  .pd-staff-input {
    margin-bottom: 0rem;
    margin-top: 2rem;
    input {
      z-index: 0 !important;
    }
  }

 
}
