@use "../../assets/styles/index" as *;
.pd_channel_picker {
  display: flex;
  align-items: center;
  p {
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black02);
  }
}
