@use "../../assets/styles/index" as *;

.pd_update_modal_container {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 300;
  border-radius: 24px;
  border: 1px solid var(--grey04);
  background: var(--white);
  box-shadow: 0px 9.032px 50.579px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(9.888862609863281px);
  max-width: 376px;
  width: 80%;
  @include mq(780px) {
    width: 90%;
    right: 10px;
  }
  &.large {
    max-width: 800px;
    overflow: auto;
    max-height: 80vh;
    @include webkitnone;
    .single_text {
      margin-bottom: 20px;
      h4 {
        margin-bottom: 8px;
        @include mq(600px) {
          font-size: 18px !important;
        }
      }
    }
  }
  .cover_update_container {
    position: relative;
    padding: 12px 15px;
    .cancel_box {
      position: absolute;
      width: 48px;
      height: 48px;
      top: -18px;
      border-radius: 50%;
      left: -20px;
      background-color: var(--white);
    }
    .image_box {
      width: 100%;
      border-radius: 12px;
      height: 160px;
      object-fit: cover;
      object-position: center;
    }

    .text_section {
      margin-top: 24px;
      width: 100%;
      h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: var(--black02);
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--grey01);
      }
    }
    .primary_styled_button {
      width: 100%;
      margin-top: 10px;
    }
  }
  .cover_update_container_large {
    padding: 50px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(780px) {
      padding: 20px;
    }
    .cancel_box {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 0px;
      border-radius: 50%;
      left: 0px;
      background-color: var(--white);
    }
    .image_box {
      width: 48%;
      height: 460px;
      border-radius: 12px;
      object-fit: cover;
      object-position: center;
      flex-shrink: 0;
      @include mq(780px) {
        display: none;
      }
    }
    .text_section {
      margin-top: 24px;
      width: 48%;
      @include mq(780px) {
        width: 100%;
      }
      h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        color: var(--black02);
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--grey01);
      }
    }
    .primary_styled_button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
