@use "../../../../assets/styles/index" as *;
.pd_create_location {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form_section {
    @include form_section;
    .form_field_container {
      padding-top: 0;
    }
    .checkbox_section {
      display: flex;
      align-items: center;
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--black02);
      }
    }
  }
  .submit_form_section {
    @include submit_form_section;
  }
}
.extra_wrapper {
  background-color: var(--white);
  max-height: 626px;
  max-width: 514px;
  height: 550px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  position: relative;
  &.step2_staff {
    height: 626px;
  }
  &.success {
    height: 502px;
    overflow-x: hidden;
  }
  .close_btn {
    position: absolute;
    top: 1.3rem;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: none !important;
    right: 1.3rem;
    background-color: var(--grey00);
    &.back-btn {
      left: 1.3rem;
    }
  }
  .text_content {
    text-align: center;
    width: 80%;
    margin-top: 1.5rem;
    h3 {
      font-weight: 500;
      line-height: 36px;
      font-size: 27px;
      color: var(--black01);
      margin-top: 1.6rem;
      span {
        color: var(--primary);
        font-weight: 500;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--grey01);
      margin: 0.5rem 0 1.2rem;
      &.label {
        text-align: left;
        margin-bottom: 0.5rem;
      }
    }
    .soft_wrap {
      background-color: var(--grey00);
      padding: 12px 8px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 1.5rem 0;
      .span_amt {
        font-size: 14px;
        color: var(--grey03);
        font-weight: 400;
      }
      .span_number {
        font-weight: 600;
        font-size: 28px;
        color: var(--grey01);
      }
    }
    .pay_btn {
      width: 100%;
      background-color: var(--primary);
      color: var(--white);
      margin-top: 1rem;
      &.Mui-disabled {
        background-color: var(--grey04) !important;
        color: var(--white);
        cursor: not-allowed !important;
      }
      &.clear {
        background-color: var(--white);
        color: var(--grey01);
        border: 0 !important;
      }
      &.cancel {
        background-color: var(--white);
        color: var(--primary);
        border: 2px solid var(--primary);
      }
    }
  }
  .product_name,
  .slot_count {
    color: var(--grey01);
    font-weight: 500;
  }
  .slot_count {
    color: var(--primary);
  }
}
