@use "../../../../assets/styles/index" as *;

.pd_create_order {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  .checkbox_section {
    display: flex;
    align-items: center;
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--black02);
    }
  }
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form_section {
    @include form_section;
    .form_field_container {
      padding-top: 0;
    }
    .accordion_sections {
      .MuiAccordionSummary-expandIconWrapper {
        transform: none !important;
      }
      &.pd_product_section {
        .display_product_flex {
          gap: 30px;
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 1fr));
          &.bordered {
            border-bottom: 1px solid #eff2f7;
            padding-bottom: 16px;
          }
          @include mq(1200px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
          }
          @include mq(700px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
          }
          @include mq(600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
          .product_listing_container {
            // max-width: 120px;
            // width: 18%;
            width: 100%;
            @include mq(600px) {
              width: 100%;
            }
            img {
              width: 100%;
              object-fit: cover;
              object-position: center;
              height: 100px;
              border-radius: 4px;
              @include mq(700px) {
                height: 120px;
              }
            }
            .name {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: var(--black02);
              margin: 12px 0 4px;
              height: 40px;
              display: -webkit-box !important;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .price {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
              color: var(--black02);
              margin-bottom: 16px;
            }
            .actions {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .count {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: var(--black02);
              }
              button {
                padding: 6px;
                &.primary_btn {
                  background: var(--primary) !important;
                  svg {
                    path {
                      stroke: var(--white);
                    }
                  }
                }
              }
            }
          }
        }
        .select_product {
          margin-top: 0px !important;
          // padding: 0 !important;
          // padding: 10px 0 !important;
          border: none !important;
          border-bottom: 1px solid #eff2f7 !important;
          display: flex;
          gap: 8px;
          flex-wrap: wrap;
          &.nomargin {
            margin-top: 0;
            padding: 0 !important;
            border: none !important;
          }
          button {
            min-width: 130px;
            height: 44px;
            @include mq(500px) {
              width: 100%;
            }
          }
        }
        .extra_action {
          padding: 16px 0;
          border-bottom: 1px solid #eff2f7;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &.column {
            flex-direction: column;
            row-gap: 8px;
            align-items: unset;
            justify-content: unset;
          }

          .shipping-methods-drop-down {
            .cover_buttons {
              button {
                display: flex;
                justify-content: flex-start;
              }
            }
          }

          .dash_line {
            width: 6px;
            height: 2px;
            background-color: var(--black02);
          }
          .result_collected {
            display: flex;
            align-items: center;
            svg {
              width: 14px;
              margin-left: 10px;
              cursor: pointer;
              transform: unset;
            }
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: var(--black02);
            .icon_btn {
              padding: 0;
            }
          }
          .action_name {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: var(--black02);

            @include mq(600px) {
              font-size: 14px;
            }
          }

          .button {
            @include mq(600px) {
              font-size: 14px;
            }
            svg {
              transform: rotate(270deg);
            }
          }
        }
        .total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 16px 0;
          p {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            @include mq(600px) {
              font-size: 14px;
            }
          }
          &.sub {
            border-bottom: 1px solid #eff2f7;
            .result_collected {
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
      }

      .payment_button_box {
        margin-bottom: 24px;
        label {
          @include label_styles;
        }
        .payment_btn_flex {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;
        }
        button {
          height: 40px;
          font-weight: 500;
          min-width: 180px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          color: var(--grey01);

          border-radius: 8px;
          border: 1.5px solid var(--grey04);
          background: var(--white);

          @include mq(600px) {
            height: 36px;
            width: 100%;
          }
          &.active {
            border: none;
            background-color: var(--pastelGreen);
            color: var(--primary);
          }
        }
      }
    }
    .cover_customer_select {
      margin: 16px 0;
      &.select_terminal {
        width: 49%;
        flex-grow: 1;
        margin-top: 0;
        p {
          word-wrap: break-word;
        }
        @include mq(768px) {
          width: 100%;
        }
      }
      .pick_cutomer {
        @include pick_input_type;
        margin-bottom: 10px;
      }
      .extra_message {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
          width: calc(100% - 15px);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: var(--primary);
        }
      }
    }
  }
  .submit_form_section {
    @include submit_form_section;
  }
}

.pd-select-automated-shipping-options-modal {
  .shipping-partner {
    margin-top: 24px;
    padding: 0 32px;
    h4 {
      margin-bottom: 34px;
      font-size: 1.25em;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      color: var(--black02);
    }

    .list {
      .partner-item {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--grey05);

        .image-name {
          img {
            max-width: 70px;
          }
          p {
            margin-top: 6px;
            font-size: 14px;
          }
        }
        .text {
          .fee {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            color: var(--grey03);
            text-align: right;
          }
          .amount {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            color: var(--black02);
          }
        }
      }
    }
  }
}
