@use "../../../../assets/styles/index" as *;

.pd_create_note {
  width: 100%;
  height: 100%;
  position: relative;
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form_section {
    @include form_section;
    .form_field_container {
      padding-top: 0;
    }
  }
  .submit_form_section {
    @include submit_form_section;
  }

  .css-ue9e4h-MuiTypography-root {
    font-size: 0.9rem;
    @include mq(677px) {
      font-size: 0.7rem;
    }
    color: #222d37;
  }

  .pd-shipping-input {
    margin-bottom: 0rem;
    margin-top: 2rem;
    input {
      z-index: 0 !important;
    }
  }

  .info-section {
    display: flex;
    gap: 8px;
    margin: 16px 0;
    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      transform: translateY(4px);
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--grey01);
    }
  }
}
