@use "../../../../assets/styles/index" as *;
.pd_shipping {
  width: 100%;
  .settings_btn {
    border-radius: 8px;
    background: var(--grey00) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--grey01);
  }
  @include auto-layout;
  @include mq(677px) {
    // margin-top: 1rem;
  }
}
.display_free_shipping_box {
  display: flex;
  height: 44px;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #d4d7db;
  background: var(--white);
  gap: 26px;
  justify-content: space-between;
  cursor: pointer;
  @include mq(500px) {
    width: 100%;
  }
  p {
  }
  .edit_btn {
    opacity: 0;
    transition: 0.3s ease;
  }
  &:hover {
    .edit_btn {
      opacity: 1;
    }
    p {
      border-bottom: 1px solid #5c636d;
    }
  }
  .action_buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    button {
      padding: 0 !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #5c636d;

    span {
      color: var(--primary);
    }
  }
}

.pd_shipbubble_connected_modal {
  @include white_modal_box;
  max-width: 514px;
  .header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .text_flex {
    }
  }
  img {
    margin: auto;
    margin-bottom: 32px;
    width: 60px;
  }
  .title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: var(--black01);
    margin-bottom: 16px;
    text-align: center;
  }
  .desc {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--grey01);
  }
  .benefit {
    border-radius: 12px;
    background: rgba(248, 248, 248, 0.97);
    padding: 16px;
    margin-bottom: 16px;
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 10px;
      color: var(--primary);
    }
    ul {
      padding-left: 20px;

      li {
        margin-bottom: 8px;
        list-style: disc;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--black01);
      }
    }
  }
  .blue_box {
    border-radius: 12px;
    background: var(--pastelBlue);
    padding: 16px;
    margin-bottom: 32px;
    p {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: var(--secondary);
    }
  }
  .primary_styled_button {
    width: 100%;
  }
}
