@use "../../../../assets/styles/index" as *;

.limit_modal {
  padding-top: 1.5rem;
  .top_section {
    .kyc_top {
      border-bottom: 0 !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  .limit_modal_body {
    margin: 16px 2rem 2rem;
    h4 {
      font-size: 16px;
      font-weight: 400;
      color: var(--grey01);
      margin-bottom: 1rem;
    }
    .card_wrapper {
      background-color: var(--grey09);
      margin: 1rem 0;
      border-radius: 18px;
      &.active {
        border: 2px solid var(--primary);
      }
      .current_limit {
        display: flex;
        justify-content: flex-end;
        height: 28px;
        &-tag {
          display: flex;
          align-items: center;
          background: linear-gradient(90deg, #39b54a -0.99%, #009444 97.8%);
          border-radius: 0px 16px 0px 16px;
          padding: 4px 16px;
        }
        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--white);
        }
      }
      .wrap {
        padding: 1rem;
      }
      .single_wrap {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--grey05);
        padding: 16px 0;
        &:last-of-type {
          border-bottom: 0;
        }
        .text_start {
          font-weight: 400;
          font-size: 16px;
          color: var(--grey01);
        }
        .text_left {
          font-weight: 500;
          font-size: 14px;
          color: var(--black02);
        }
      }
      .requirement {
        background-color: var(--white);
        padding: 12px;
        border-radius: 8px;
        border: 1px solid var(--grey05);
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: var(--grey01);
      }
      .tier_btn {
        width: 100%;
        background-color: var(--white);
        border: 1.5px solid var(--primary);
        color: var(--primary);
        padding: 12px 16px;
        &.upgrade_btn {
          background-color: var(--primary);
          color: var(--white);
          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  .start_btn {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 16px;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
