.theme-neutral {
  --primary: #009444;
  --white: #ffffff;
  --black: #000000;
  --black01: #0d1821;
  --black02: #222d37;
  --black: #000000;
  --yellow: #f4a408;
  --grey00: #eff1f3;
  --grey01: #5c636d;
  --grey02: #848d99;
  --grey03: #9ba2ac;
  --grey04: #d4d7db;
  --grey05: #eff2f6;
  --grey06: #9ca5ab;
  --grey07: #f8f8f8;
  --grey08: #585563;
  --grey09: #f9fafb;
  --grey10: #eff2f7;
  --pastelBlue: #edf5fe;
  --pastelGreen: #ebf6f0;
  --pastelYellow: #fff8e7;
  --pastelYellow02: #ffb60a;
  --pastelBlue: #edf5fe;
  --pastelRed: #edf5fe;
  --pastelRed: #fbe6ea;
  --secondary: #0059de;
  --error: #d90429;
  --red0: #ff002c;
  --red01: #c20808;
  --red02: #ae001e;
  --red03: #713e47;
}
.theme-blue {
  --primary: #0267ff;
  --white: #ffffff;
  --black01: #0d1821;
  --black02: #222d37;
  --black: #000000;
  --grey00: #eff1f3;
  --grey01: #5c636d;
  --grey02: #848d99;
  --grey03: #9ba2ac;
  --grey04: #d4d7db;
  --grey05: #eff2f6;
  --grey06: #9ca5ab;
  --grey07: #f8f8f8;
  --grey09: #f9fafb;
  --grey10: #eff2f7;
  --pastelBlue: #edf5fe;
  --secondary: #0059de;
  --error: #d90429;
}
