@use "../../../../assets/styles/index" as *;
.pd_delete_location {
  .question {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--black02);
    margin-bottom: 16px;
  }
  .reason_box {
    margin-top: 32px;
  }
  .btn_box {
    margin-top: 15px;
  }
  .cancel_successful_container {
    h3 {
      color: var(--black02) !important;
    }
    .desc {
      margin-bottom: 5px;
    }
    p.grey {
      font-weight: 500 !important;
    }
    .error {
      background-color: var(--error) !important;
    }
  }
}
